# Microsoft Movie Magic! 

**Author:** Taylor Morton

## Overview

For this project, you will use exploratory data analysis to generate insights for a business stakeholder.

## Business Problem

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they dont know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

***
Questions to consider:
* **What are the business's main points related to this project?**

Microsoft has little to no experience in creating movies, and are hoping to produce some box office hits that will be profitable. 


* **How did you pick the data analysis question(s) that you did?**
  
  **Movie Gross** - To better understand how much money was brought in by movies. The company is wanting to know how to make movies that are successful at the box office. (includes domestic and foreign gross income)
  
  **Title and Genre** - To understand how the type of movie could indicate an easy start of success for the company. 
  
  
* **Why are these questions important from a business perspective?**
***

* **Independent Variables**: 

- Popularity & Vote Average, Release Date, Title, Gross
- D. Gross, F. Gross, Release Dates 



**Research Questions?**

Which release dates (months of the year) would I recommend to Microsoft for their new films? 


What genres of movies make the highest domestic and foreign gross income? 


Which movies have the largest return on investment? (comparing gross income to budget)

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [3]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [4]:
os.listdir('data/zippedData')

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [5]:
genres_df = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
genres_df.dropna(subset=['genres'], inplace=True)
genres_df['genres'] = genres_df['genres'].apply(lambda x: x.split(','))
genres_df = genres_df.explode('genres')
genres_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Action
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Crime
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,Drama
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Biography
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,Drama

In [6]:
genres_df.groupby('genres').mean()

              start_year  runtime_minutes
genres
Action       2014.689695       100.019729
Adult        2016.520000        86.285714
Adventure    2014.491261        85.782404
Animation    2014.883530        80.674520
Biography    2013.951502        74.129960
Comedy       2014.521689        93.920165
Crime        2014.646972        95.508631
Documentary  2014.406410        72.107879
Drama        2014.526713        94.281372
Family       2014.250843        83.192047
Fantasy      2014.752560        91.918707
Game-Show    2015.000000       117.000000
History      2013.891727        78.756430
Horror       2014.800555        87.351383
Music        2013.989569        82.339474
Musical      2014.415385        95.423684
Mystery      2014.655291        93.233888
News         2013.000000        66.418635
Reality-TV   2015.265306        80.233333
Romance      2014.429577       100.219710
Sci-Fi       2014.800000        90.547855
Short        2016.454545        16.400000
Sport        2014.299015        80.939456
Talk-Show    2014.800000        86.736842
Thriller     2014.833628        94.351337
War          2014.362278        87.136697
Western      2014.595289       100.332474

In [7]:
mo = pd.read_csv('data/zippedData/tmdb.movies.csv.gz')
mo.info()

#GenreIDs
#Popularity
#Release Date 
#Vote Average

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [8]:
#rt_movie_ = pd.read_csv('data/zippedData/rt.movie_info.tsv.gz', sep = '\t')
#rt_movie_.head(3)

In [9]:
gs = pd.read_csv('data/zippedData/bom.movie_gross.csv.gz')
gs.info()

#Dgross
#Fgross
#Title?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [10]:
bud = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')
bud.head(10)

#ReleaseDate
#Budget
#Gross
#Movie 

bud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [11]:
#Which Release Dates (months of the year) would I recommend to Microsoft for their new films?

In [12]:
mo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [13]:
mo.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [29]:
mo['release_date']

0        2010-11-19
1        2010-03-26
2        2010-05-07
3        1995-11-22
4        2010-07-16
            ...
26512    2018-10-13
26513    2018-05-01
26514    2018-10-01
26515    2018-06-22
26516    2018-10-05
Name: release_date, Length: 26517, dtype: object

In [31]:
print(mo['release_date'].dtype)

object

In [32]:
mo.loc[:5, 'release_date']

0    2010-11-19
1    2010-03-26
2    2010-05-07
3    1995-11-22
4    2010-07-16
5    2010-02-11
Name: release_date, dtype: object

In [15]:
#What genres of movies make the highest domestic and foreign gross income?
#Joins

In [16]:
gs.info

<bound method DataFrame.info of                                             title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]>

In [17]:
gs['domestic_gross']

0       415000000.0
1       334200000.0
2       296000000.0
3       292600000.0
4       238700000.0
           ...
3382         6200.0
3383         4800.0
3384         2500.0
3385         2400.0
3386         1700.0
Name: domestic_gross, Length: 3387, dtype: float64

In [18]:
gs['foreign_gross']
#The end of this has some NaNs, so this may need to be further explored and cleaned

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382          NaN
3383          NaN
3384          NaN
3385          NaN
3386          NaN
Name: foreign_gross, Length: 3387, dtype: object

In [19]:
#Which movies have the highest ROI?

In [20]:
bud.info()
bud.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

                id
count  5782.000000
mean     50.372363
std      28.821076
min       1.000000
25%      25.000000
50%      50.000000
75%      75.000000
max     100.000000

In [21]:
bud.index

RangeIndex(start=0, stop=5782, step=1)

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [22]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***